.venv
build
dist
**/*.egg-info
**/.idea
.idea
**/__pycache__


# Editor
.vscode
.idea

# Python venv
**/__pycache__
.venv/
.env
.python-version

# Distribution
**/*.egg-info
dist/

sonar-project.properties